<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="./about.css" />
    <link rel="stylesheet" href="./nav.css">
</head>
  <body>

    <nav>
        <div class="navbar">
          <div class="logo"><a href="#">Consumption Web App</a></div>
          <ul class="menu">
            <li><a class="underline nav-btn">Home</a></li>
            <li><a  class="nav-btn">About</a></li>
            <li><a  class="nav-btn">Login</a></li>
            <li><a  class="nav-btn">Contact</a></li>
          </ul>
        </div>
    </nav> 


    <div class="container">
     
    
      <div class="text_box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quibusdam
        dolorum, nisi nam magni sint neque perferendis et velit odio odit, sed
        error a! Eos voluptates blanditiis quas tenetur molestias. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Quo quibusdam dolorum, nisi
        nam magni sint neque perferendis et velit odio odit, sed error a! Eos
        voluptates blanditiis quas tenetur molestias. dolor sit amet consectetur
        adipisicing elit. Quo quibusdam dolorum, nisi nam magni sint neque
        perferendis et velit odio odit, sed error a! Eos voluptates blanditiis
        quas tenetur molestias.
      </div>
    </div>
    <div class="container2">
      <section class="left_text">
        <h3>OUR VISION</h3>
        <h2>Lorem epsum the</h2>
        <p>
          nam magni sint neque perferendis et velit odio odit, sed error a! Eos
          voluptates blanditiis quas tenetur molestias. dolor sit amet
          consectetur adipisicing elit. Quo quibusdam dolorum, nisi nam magni
          sint neque perferendis et velit odio odit, sed error a! Eos voluptates
          blanditiis quas tenetur molestias.
        </p>
      </section>
      <img src="./images/collab.jpg" alt="fd" class="text_image" />
    </div>
  </body>
</html>