<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Server</title>
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="animationheader.css">
    <link rel="stylesheet" href="feature1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>

    <nav>
        <div class="navbar">
          <div class="logo"><a href="#">Consumption Web App</a></div>
          <ul class="menu">
            <li><a class="underline nav-btn home">Home</a></li>
            <li><a  class="nav-btn">About</a></li>
            <li><a  class="nav-btn">Contact</a></li>
            <li><a class="nav-btn"><span>Profile</span></a></li>
          </ul>
        </div>
    </nav>
    

    <div class="container1">
        <div class="features">
            <h1 class="feature-header">Services provided by us</h1>
            <div class="card-container">
                <div class="card" style="width: 18rem;">
                    <div class="card-image-container">
                        <img src="./images/book.jpeg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="">Buy New or Used Books</h5>
                        <p class="card-text">Find a variety of new and used books at unbeatable prices. Explore our collection and add to your bookshelf today!</p>
                        <button type="button" class="btn btn-outline-success btn-log btn-buy">Know more</button>
                    </div>
    
                </div>
    
    
                <div class="card" style="width: 18rem;">
                    <div class="card-image-container">
    
                        <img src="./images/sell.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Sell Your Books</h5>
                        <p class="card-text">Have books collecting dust? Sell them here and give them a new life, while earning extra cash!</p>
    
                        <button type="button" class="btn btn-outline-success btn-log">Know more</button>
    
                    </div>
    
                </div>
    
    
                <div class="card" style="width: 18rem;">
                    <div class="card-image-container">
    
                        <img src="./images/donate.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Donate Your Books</h5>
                        <p class="card-text">Share the joy of reading by donating your books to those in need. Make a difference in someone's life today!</p>
    
                        <button type="button" class="btn btn-outline-success btn-log">Know more</button>
    
                    </div>
    
                </div>
    
    
                
            </div>
        </div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./index-login.js"></script>
    <script src="./feature.js"></script>

</body>
</html>