

<nav>
  <div class="navbar">
    <div class="logo"><a href="#">Book Hive📖</a></div>
    <ul class="menu">
      <li><a class="underline nav-btn">Home</a></li>
      <li><a  class="nav-btn">About</a></li>
      <li><a  class="nav-btn">Login</a></li>
      <li><a  class="nav-btn">Contact</a></li>
    </ul>
  </div>
</nav>