@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:inter;
}


body {
    background-image: url("./images/backgroundtest.jpg");
    background-size: fill;
    background-repeat: no-repeat;
}

.navbar{
    margin: 0 125px;
}
.navbar .logo a{
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.info p {
    font-size: 1.2rem;
}

.navbar ul{
     list-style: none;
     display: flex;
     margin-top: 12px;
}

.navbar ul li{
    padding: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: black;
}




header .typecontainer {
    height: 3em;
    margin-top: 5em;
    margin-bottom: 1.5em;
}

header .typecontainer h1 {
    display: inline-block;
}


.navbar ul li .underline{
    color: black;
}


.info{
    width: 700px;
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    
    background: rgba(245, 242, 206, 0.811);
    padding: 20px;
    margin-bottom: 20px;
}

.seemore-button{
    text-align: center;
}

.features-button {
    position: relative;
    top: 20px;
    margin-top: 40px;
    text-align: center;
    z-index: -100;
}

.features-button button {
    outline: none;
    border: none;
    padding: 4px;
    background: transparent;
    transition: 0.6s ease-in;
}

.features-button img {
    width: 80px;
    transform: translateY(+100px);
    transition: 0.2s ease-in;
    padding: 10px;
}

.div-move {
    width: 100%;
    height: 220px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(225, 187, 63, 0.901));
    transition: 2s ease-in;
}

.div-move:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(237, 199, 73));
}




