
.navbar{
    margin: 0 125px;
    display: flex;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.navbar ul{
     list-style: none;
     display: flex;
     margin-top: 12px;
}

.navbar ul li{
    padding: 20px;
    cursor: pointer;
}

.navbar ul li a{
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: black;
}

header .typecontainer {
    height: 9em;
    margin-top: 5em;
    margin-bottom: 1.5em;
}

header .typecontainer h1 {
    display: inline-block;
}


.navbar ul li .underline{
    color: black;
}

